html{
  height: 100%;
}
body{
  height: 100%;
  overflow: hidden;
}
#map{
  margin: 0;
  width: 100%;
  height: 100%;
  font-size:12px;
}
#map svg{
  width: 100%;
  height: 100%;
}

#map .link{
  fill: none;
  stroke:#666;
  stroke-width: 1.5px;
}

#map .node circle
{
  fill:#ccc;
  stroke:#fff;
  stroke-width:1.5px;
}

#mapCtrl{
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0;

}
#mapCtrl #regionInput{
  border-radius: 0 !important;
  width: 100px;
  margin-top: 6px;
}

#logoOverlay {
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 160px;
  height: 50px;
  color: grey;
  pointer-events: none;
  font-family: 'Open Sans', serif;
}
#mapCtrlComp {
  position: fixed;
  bottom: 160px;
  height: 0;
  width: 0;
}
#dragHint{
  opacity: 0.5;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 20px;
  color: grey;
  pointer-events: none;
  font-family: 'Open Sans', serif;
  font-size: 13px;
}
#EVExDropCont{
  opacity: 0.5;
  position: fixed;
  top: 12px;
  right: 10px;
  width: 100px;
  height: 20px;
  color: grey;
  font-family: 'Open Sans', serif;
  font-size: 15px;
}
